<!doctype html>

<html>
<head>
	<title>Welcome to CSC 337 <%= @username %></title>
	<link rel="stylesheet" type="text/css" href="">
	<script src=""></script>
</head>

<body>

<h2>Welcome to CSC 337 <%= @username %></h2>

<h3>Today is <?php date('l, F jS Y'); ?></h3>

<p>This is a placeholder document that is located inside html/index.html in your home directory.</p>

<p>You can log into your instance and update or delete this file</p>

</body>
</html>
